footer
  +inc('js','https://static.tildacdn.com/js/jquery-1.10.2.min.js',false)
  +inc('js','front.js',true)(type="module")
  script(type="text/javascript" src="//w446141.yclients.com/widgetJS" charset="UTF-8")

  .bottom-list
    ul(class='bottom')
      li WONDERONE.XYZ © 20XX — 2021
      li(data-section-id='5' data-click-action="Front:Switch").blya.pp Privacy Policy
      li(data-section-id='6' data-click-action="Front:Switch").blya.cb Created by