footer
  +inc('js','front.js',true)(type="module")
  +inc('js','https://static.tildacdn.com/js/jquery-1.10.2.min.js',true)
  script
    -

  .bottom-list
    ul(class='bottom')
      li(class='copyright') WONDERONE.XYZ © 20X0 — 2021
      li(class='pp') Privacy Policy