header
    .menu-list.section
        ul(class='menu')
            li(data-section-id='0' data-click-action="Front:Switch").active ПРИВЕТ
            li(data-section-id='1' data-click-action="Front:Switch") УСЛУГИ
            li(data-section-id='2' data-click-action="Front:Switch") АДРЕС
            li(data-section-id='3' data-click-action="Front:Switch") ОНЛАЙН-ЗАПИСЬ
            li(data-section-id='4' data-click-action="Front:Switch") WONDER ONE