header
    .menu-list.section
        ul(class='menu')
            li(data-section-id='0' data-click-action="Front:Switch").blya.active ПРИВЕТ
            li(data-section-id='1' data-click-action="Front:Switch").blya УСЛУГИ
            li(data-section-id='2' data-click-action="Front:Switch").blya АДРЕС
            li(data-section-id='3' data-click-action="Front:Switch").blya
                a(href="#" class="ms_booking")   ОНЛАЙН-ЗАПИСЬ
            li(data-section-id='4' data-click-action="Front:Switch").blya WONDER ONE