include  vars
include ../../../../../core/mixins/mixins
include ../data/data
doctype html
html(lang='ru')
	include  style
	body
		.set
			include header
			block main
				block aside
				block content
			include footer
